* {
    color: white;
  }
  
  #mainimage {
      background: url("assets/img/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg");
      width: 100%;
      padding-top: 100px;
      background-size: cover;
      height: 100vh;
  }
  
  img {
        position: relative;
        top: 0;
        left: 0;
  }

  .concert {
    border-radius: 25px;
    width: 200px;
  }
  
  #overlay {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
            }
  
  .button {
    border-radius: 15px;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .sample {
      width: 100%;
  }