body { 
    font-family: 'Lato', sans-serif;
}

#emergence {
    font-size: 25px; 
    color:white; 
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 5px;
}

#tagline {
    font-weight: 300;
    color: rgb(22, 254, 22);
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
}

.navbar-toggler {
    border: none;
}

#saved {
    margin-top: -7vh;
    font-size: 50px;
}

.fa-bars {
    transform: scale(1.75);
    margin-right: 5px;
}

.dropdown-menu {
    background-color: black;
    font-size: 18px;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    cursor: pointer;
}

#dropdown-header:hover {
    background-color: black !important;
    color: white !important;
    cursor: default;
}

.fa-backspace:hover {
    color: rgb(22, 254, 22);
}

#mainimage {
    background: url("assets/img/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg");
    width: 100%;
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
}
.navbar {
    background-color: black;
    z-index: 5;
}

img {
      position: relative;
      top: 0;
      left: 0;
      box-shadow: 2px 2px 10px 1px black;
}
#pop {
      position: absolute;
      top: 60px;
      left: 80px;
}

.form-inline, .form-inline input , .form-inline button{
    z-index:5 !important;
}
/* .brand {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
} */

#search {
    border-radius: 25px;
    z-index: 5;
}

#pop {
    position: relative;
}

.button-genre {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

/* new buttons */

.container {
    position: relative;
    width: 50%;
  }

  #center {
      margin-left: 35%;
  }

  #search-input {
      width: 15vw;
      text-align: center;
      box-shadow: 2px 2px 10px 1px black;
  }

  @media (max-width: 775px) {
      #search-input {
          width: 45.5vw;
      }
      #center {
          margin-left: 5%;
      }
  }

  #search-modal {
      width: 40vw;
      height: 75vh;
      position: fixed;
      left: 30vw;
      top: 10vh;
      display: none;
      background-color: black;
      color: white;
      z-index: 6;
      opacity: 0.9;
      overflow: scroll;
  }

  #modal-genre {
      text-align: center;
      padding-top: 1.8vh;
      padding-left: 3vw;
  }

  .fa-window-close {
      padding-top: 1vh;
      padding-right: 2vw;
  }

  #artist-options {
      padding-top: 10vh;
  }

  .artist-select {
      font-size: 3vw;
      line-height: 10vh;
      text-align: center;
  }

  .artist-select:hover {
      cursor: pointer;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 12px;
    z-index: 5;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
  }

  .middle:hover {
      opacity:1;
      cursor: pointer;
  }
  
  .image:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  
  .middle:hover {
    opacity: 1;
    cursor: pointer;
  }
 .text{
     background-color: none;
     color:white;
     font-size: 2.5vw;
     font-weight: 900;
     letter-spacing: 2px;
     z-index: 5;
 } 
  .text:hover {
    background-color: #060606;
    opacity: 0.7;
    color: white;
    border-radius: 15px;
    padding: 7px;
  }
  /* end of the buttons */

  .top-row {
      margin-bottom: 20px;
  }

  .top-room{
      margin-top: 80px;
  }