* {
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(../img/image2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#emergence:hover {
    cursor: pointer;
}

#mainimage {
    width: 100%;
    padding-top: 100px;
    height: 100vh;
}
  
/*img {
    position: relative;
    top: 0;
    left: 0;
}*/

.concert {
    border-radius: 25px;
    width: 200px;
    /*margin-top: -7vh;
    margin-left: -22vw;*/
    box-shadow: 2px 2px 10px 1px black;
}

#embedlink {
    margin-left: 3vw;
}

#artist-info {
    margin-top: 20vh;
}

.bio {
    text-align: left;
    font-size: 20px;
}
  
#bio-section {
    width: 90%;
}
  
.artist-name {
    font-size: 7vw;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#emergence {
    font-size: 25px; 
    color:white; 
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 5px;
}

#tagline {
    font-weight: 300;
    color: rgb(67, 246, 238);
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
}

#favorites {
    background-color: rgb(67, 246, 238);
    color: black;
}

#favorites:hover {
    background-color: rgb(62, 208, 201);
}

.navbar {
    background-color: black;
    z-index: 5;
}
  
#charts {
    width: 100%;
}
  
#toptracks {
}
  
.pop {
    color: rgb(248, 43, 156);
}
  
.rock {
    color: rgb(67, 246, 238);
}
  
.rap {
    color: rgb(185, 42, 247);
}
  
.hip-hop {
    color: rgb(22, 254, 22);
}
  
.country {
    color: rgb(241, 37, 56);
}
  
.metal {
    color: rgb(242, 92, 1);
}

svg>g>g>path {
    fill: transparent !important;
}
